<!-- templates/page.html -->
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site_title or "picoCMS"}}  •  {{ page }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="layout">
    <aside class="left-column">
      <h3>Menu</h3>
      <nav>
        <ul>
        {% if pages %}
          {% for p in pages %}
            <li><a href="{{ url_for('show_page', page=p, lang=locale) }}">{{ p.capitalize() }}</a></li>
        {% endfor %}
        {% else %}
          <p>No content yet</p>
        {% endif %}
        </ul>
      </nav>
      <div class="admin_link">
        <a href="{{ url_for('show_page', page='admin', lang=locale) }}">Admin</a>
     </div>
    </aside>

    <main class="center-column">
        <fieldset class="box">
            <legend>Page actions</legend>
                <div class="box"><a href="/add_page">Add a page</a></div>
                <fieldset class="box" style="margin-top: 20px">
                    <legend>Edit or delete page</legend>
                  {% if pages %}
                      {% for p in pages %}
                          <div><a href="{{ url_for('show_page', page=p, lang=locale) }}">{{ p.capitalize() }}</a>&nbsp;<a href="/edit/{{p}}">Edit</a>&nbsp;<a href="/delete/{{p}}">Delete</a></div>
                      {% endfor %}
                  {% else %}
                      <p>No content yet</p>
                  {% endif %}
                </fieldset>
        </fieldset>
    </main>

    <aside class="right-column">
      <div class="comments-scroll">
          {% include 'comments.html' %}
      </div>
    </aside>
  </div>

  {% include 'footer.html' %}
</body>
</html>
